{% extends 'base.html' %}

{% block page_content %}
{% with messages = get_flashed_messages(with_categories=true) %}

        {% if mensaje_prueba %}
    <div class="alert alert-warning">
        MENSAJE DE PRUEBA MANUAL: <b>{{ mensaje_prueba }}</b>
    </div>
{% endif %}
<h2>Panel Principal</h2>

        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category if category else 'info' }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Panel Principal</h2>
    <hr>
    <p>¡Hola, <strong>{{ usuario.nombre_usuario }}</strong>!</p>

    {% if usuario.rol == 'usuario' %}
        <h4>Acciones de Usuario</h4>
        <div class="list-group">
            <a href="{{ url_for('crear_reclamo') }}" class="list-group-item list-group-item-action">
                1. Crear Reclamo Nuevo
            </a>
            <a href="{{ url_for('listar_reclamos') }}" class="list-group-item list-group-item-action">
                2. Listar Reclamos Pendientes (Todos)
            </a>
            <a href="{{ url_for('mis_reclamos') }}" class="list-group-item list-group-item-action">
                3. Ver Mis Reclamos
            </a>
        </div>
    {% endif %}
    {% endblock %}